* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  color: rgba(46, 47, 66, 1);
  line-height: calc(24 / 16);
    letter-spacing: 0.02em;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}


.hover-item:hover {
  color: #404bbf;
  transition-duration: 250ms;
}

/* header */

.header-position {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-button {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 22px;
}

.logo {
  color: #4d5ae5;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo > span {
  color: #2e2f42;
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: calc(21 / 18);
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
}

.mail {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}
.number {
  color: #434455;
  font-size: 16px;
  font-weight: 400;
}

@media screen and (max-width: 428px) {

  .navigation-menu {
    display: none;
  }
  .contact-info {
    display: none;
  }
}

/* hero */

.hero {
  background-color: rgba(46, 47, 66, 0.7);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office\ 1.jpg);
  background-position: center;
}

.hero-title {
  display: flex;

}














































.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
}

.mobile-menu-container {
  position: relative;
  padding-left: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
}

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: transparent;
  border: none;
}

.mb-mn-item {
padding-bottom: 40px;
}
.mb-mn-link {
  font-weight: 700;
  font-size: 36px;
}

.ct-info-menu {
padding-top: 284px;
}

.ct-item-menu {
  padding-bottom: 40px;
}

.number-menu {
  font-weight: 700;
  font-size: 36px;
}
.mail-menu {
  font-weight: 500;
  font-size: 20px;
}

.media-burger-menu {
  display: flex;
  gap: 56px;
}

.media-burger-link {
  width: 40px;
  height: 40px;
  background-color: rgba(77, 90, 229, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  transition-duration: 250ms;
  
}





























